.blog-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.blur {
  filter: blur(5px);
}

.big-posts {
  width: 66%;
  display: flex;
}

.big-posts-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.big-posts-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.small-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.next {
  display: block;
  background-image: url('../../images/arrow.png');
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.prev {
  display: block;
  background-image: url('../../images/arrow.png');
  transform: scale(-1, 1);
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.nav-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}