.menu {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
  background: rgb(161, 161, 161);
  display: flex;
  justify-content: center;
  width: 25vw;
  margin-top: 50px;
  cursor: default;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 20%;
    cursor: default;
}

.hidden {
    display: none;
}

.nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-top a {
    height: 50px;
    color: black;
    text-decoration: none;
}

.nav-bottom {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-theme {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.dark-theme {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.toggle-theme {
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;
    margin-bottom: 30px;
}

.logout {
    cursor: pointer;
}

.logout:hover {
    color: #fff;
}