.tabs-container {
  display: flex;
  flex-direction: column;
}

.tabs-section {
  display: flex;
  justify-content: space-evenly;
  gap: 90px;
}

.tab {
  cursor: pointer;
  font-weight: 300;
}

.tab:hover {
  color: #6171e6;
}

.tab-active {
  font-weight: 500;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black
}

.dropdown-section {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  width: 100%;
  outline:none;
}

.dropdown {
  margin-bottom: 15px;
  width: 100%;
}